---
- name: Install system packages
  apt:
    name: '{{ item }}'
    state: present
  with_items:
    - python-pip
    - python2.7

- name: Install script for modifying system hosts file
  copy:
    src: ../../../src/scripts/extend-hosts.py
    dest: /usr/local/bin/extend-hosts.py
    mode: 0755

# This allows workers to edit the hostsfile via `sudo extend-hosts.py`
- name: Allow application user to modify system hosts file
  lineinfile:
    dest: /etc/sudoers
    line: '{{application_user}} ALL=(ALL) NOPASSWD: /usr/local/bin/extend-hosts.py'
